<% if signed_in? %>
  <div class="hero-unit">
    <aside class="span4">
      <section>
        <%= render 'shared/user_info' %>
      </section>
     
    </aside>


  
 <div>
 <%= link_to "todos os produtos", mercadoria_path,
                                class: "btn btn-large" %>

</div>

  </div>
  <li id="fat-menu" class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                Account <b class="caret"></b>
              </a>
              <ul class="dropdown-menu">
                <li><%= link_to "Profile", current_user %></li>
                <li><%= link_to "Settings", edit_user_path(current_user) %></li>
                <li class="divider"></li>
                <li>
                  <%= link_to "Sign out", signout_path, method: "delete" %>
                </li>
              </ul>
            </li>

<% else %>
  <div class="center hero-unit">
    <h1>Markino Trading</h1>

    
    
    <%= link_to "Sign up now!", signup_path,
                                class: "btn btn-large btn-primary" %>
  </div>

<% end %>
