<% if signed_in? %>
<h1>Todos Produtos</h1>
<h1><%= link_to 'Novo Produto', new_mercadorium_path, class: "btn" %></h1>

<% @mercadoria.each do |mercadorium| %>
 <%= image_tag mercadorium.image_url.to_s %>

 <%= link_to 'Ver Detalhes', mercadorium,   class: "btn" %> 
  <%= link_to 'Destroy', mercadorium, method: :delete, data: { confirm: 'Are you sure?' } %>
 <table class="table table-bordered" >
  <thead>
    <tr>
      <th>Nome</th>
<th>Fabrica</th>
      <th>Descrição</th>
      <th>Preço</th>

    </tr>
  </thead>

  <tbody>
   
      <tr>
        <td><%= mercadorium.nome %></td>
<td><%= mercadorium.fabrica %></td>
        <td><%= mercadorium.descricao %></td>
        <td><%= mercadorium.preco %></td>

      </tr>


     
</tbody>

</table>

 <% end %>

<br>



<% else %>
  <div class="center hero-unit">
    <h1>Markino Trading</h1>

    <h2>
      This is the home page for the
      <a href="http://railstutorial.org/">Ruby on Rails Tutorial</a>
      sample application.
    </h2>
    
    <%= link_to "Sign up now!", signup_path,
                                class: "btn btn-large btn-primary" %>
  </div>

  <%= link_to image_tag("rails.png", alt: "Rails"), 'http://rubyonrails.org/' %>
<% end %>
