 
    
 <% volumecont20 = 27  %> 
<p><%= volumecont20 = 27  %> CBM<p>

 <% volumepeca = @mercadorium.altura * @mercadorium.largura * @mercadorium.comprimento %>    
   <p><%=  a = volumepeca /3 %> cm2 <p> 
   <p><%= quantcont = (27/0.036176).round  %> pecas no container<p> 
   <p><%= quantporcbm = (1/0.036176).round(2)  %> pecas por CBM <p> 
   <p><%= precofobcont = (quantcont * @mercadorium.preco).round(2)  %> USD <p>


 <table class="table table-bordered">
<h3/> Orcamento container de 20 : <h3>

    <thead>
        <tr>
            <th>Preco unitario</th>
            <th>Quantidade container</th>
            <th>Preco FOB do container</th>
           
        </tr>
    </thead>
    <tbody>
        <tr>
               <td><%= @mercadorium.preco %> USD</td>
             <td><%= quantcont %> Pecas</td>
            <td><%= precofobcont %> USD</td>
       </tr>
<tr>
            
           

<p id="notice"><%= notice %></p>

<p>
  <strong>Nome:</strong>
  <%= @mercadorium.nome %>
</p>

<p>
  <strong>Descricao:</strong>
  <%= @mercadorium.descricao %>
</p>

<p>
  <strong>Preco:</strong>
  <%= @mercadorium.preco %>
</p>

<p>
  <strong>Precoumcbm:</strong>
  <%= @mercadorium.precoumcbm %>
</p>

<p>
  <strong>Precomeiodevinte:</strong>
  <%= @mercadorium.precomeiodevinte %>
</p>

<p>
  <strong>Altura:</strong>
  <%= @mercadorium.altura %>
</p>

<p>
  <strong>Largura:</strong>
  <%= @mercadorium.largura %>
</p>

<p>
  <strong>Comprimento:</strong>
  <%= @mercadorium.comprimento %>
</p>


  <strong>Precofrete:</strong>
  <%= @mercadorium.precofrete %>
</p>

<p>
  <strong>Imposto:</strong>
  <%= @mercadorium.imposto %>
</p>

<p>
  <strong>Precodevenda:</strong>
  <%= @mercadorium.precodevenda %>
</p>

<p>
  <strong>Precodaconco:</strong>
  <%= @mercadorium.precodaconco %>
</p>

<p>
  <strong>Vendamensal:</strong>
  <%= @mercadorium.vendamensal %>
</p>

<p>
  <strong>Outroscustosdevenda:</strong>
  <%= @mercadorium.outroscustosdevenda %>
</p>

<%= link_to 'Edit', edit_mercadorium_path(@mercadorium) %> |
<%= link_to 'Back', mercadoria_path %>
