  <%= image_tag @mercadorium.image_url.to_s %>
<div class="panel panel-primary">
 <div class="panel-heading">Orcamento container de 20 : </div>
 <div class="panel-body">
  <table class="table table-bordered" >
<%= link_to 'Edit', edit_mercadorium_path(@mercadorium) %> |
<%= link_to 'Back', mercadoria_path %>
 <%= link_to 'Destroy', mercadorium, method: :delete %>

    <thead>
        <tr>
<th>fabricante</th>
            <th>Preco unitario</th>
            <th>Quantidade container</th>
            <th>Preco FOB do container</th>
           
        </tr>
    </thead>
    <tbody>
        <tr>
<td><%= @mercadorium.fabricante %></td>
               <td><%= @mercadorium.preco %> USD</td>
             <td><%= @quantcont %> Pecas</td>
            <td><%= @precofobcont %> USD</td>
       </tr>
<tr>
            
           
       </tr>
        
    </tbody>
</table>
</div>


<table class="table table-bordered" >

    <thead>
        <tr>
            <th>Frete total</th>
            <th>C.I.F</th>
            <th>Nacionalizacao (impostos) </th>
            <th> Custo total container nacionalizado</th>
        </tr>
    </thead>
    <tbody>
        <tr>
               <td><%= @mercadorium.precofrete %> USD </td>
             <td><%= @cifvar %>  USD </td>
             <td><%=  @mercadorium.imposto %>  % </td>
             <td> <%=  @custocontainernacional %>  USD </td>
       </tr>
<tr>
            
           
       </tr>
        
    </tbody>
</table>

<table class="table table-bordered" style="background-color: "white">

    <thead>
        <tr>
            <th>Total impostos container</th>
            <th>Custo impostos por peca </th>
            <th>Frete por peca </th>
            <th> Custo da peca nacionalizada </th>
        </tr>
    </thead>
    <tbody>
        <tr>
               <td> <%=  @impostocontainer     %> USD</td>
             <td><%= @custnaciounit %> USD</td>
            <td><%= @freteunit  %>  USD </td>
          <td><%= @custnaciounit  %> USD  </td>
       </tr>
  <tr>
 </tr>
   </tbody>

</table>
                   </div>


<div class="panel panel-primary">
 <div class="panel-heading">Orcamento container de 20 : </div>
 <div class="panel-body">
  <table class="table table-bordered" >


    <thead>
        <tr>
            <th>Preco unitario</th>
            <th>Quantidade container</th>
            <th>Preco FOB do container</th>
           
        </tr>
    </thead>
    <tbody>
        <tr>
               <td><%= @mercadorium.preco %> USD</td>
             <td><%= @quantcont %> Pecas</td>
            <td><%= @precofobcont %> USD</td>
       </tr>
<tr>
            
           
       </tr>
        
    </tbody>
</table>
</div>


<table class="table table-bordered" >

    <thead>
        <tr>
            <th>Frete total</th>
            <th>C.I.F</th>
            <th>Nacionalizacao (impostos) </th>
            <th> Custo total container nacionalizado</th>
        </tr>
    </thead>
    <tbody>
        <tr>
               <td><%= @mercadorium.precofrete %> USD </td>
             <td><%= @cifvar %>  USD </td>
             <td><%=  @mercadorium.imposto %>  % </td>
             <td> <%=  @custocontainernacional %>  USD </td>
       </tr>
<tr>
            
           
       </tr>
        
    </tbody>
</table>

<table class="table table-bordered" style="background-color: "white">

    <thead>
        <tr>
            <th>Total impostos container</th>
            <th>Custo impostos por peca </th>
            <th>Frete por peca </th>
            <th> Custo da peca nacionalizada </th>
        </tr>
    </thead>
    <tbody>
        <tr>
               <td> <%=  @impostocontainer     %> USD</td>
             <td><%= @custnaciounit %> USD</td>
            <td><%= @freteunit  %>  USD </td>
          <td><%= @custnaciounit  %> USD  </td>
       </tr>
  <tr>
 </tr>
   </tbody>

</table>
                </div>






<p id="notice"><%= notice %></p>

<p>
  <strong>Nome:</strong>
  <%= @mercadorium.nome %>
</p>

<p>
  <strong>Descricao:</strong>
  <%= @mercadorium.descricao %>
</p>

<p>
  <strong>Preco:</strong>
  <%= @mercadorium.preco %>
</p>
<p>
  <strong>Preco original:</strong>
  <%= @mercadorium.precooriginal %>
</p>

<p>
  <strong>Precoumcbm:</strong>
  <%= @mercadorium.precoumcbm %>
</p>

<p>
  <strong>Precomeiodevinte:</strong>
  <%= @mercadorium.precomeiodevinte %>
</p>

<p>
  <strong>Altura:</strong>
  <%= @mercadorium.altura %>
</p>

<p>
  <strong>Largura:</strong>
  <%= @mercadorium.largura %>
</p>

<p>
  <strong>Comprimento:</strong>
  <%= @mercadorium.comprimento %>
</p>


  <strong>Precofrete:</strong>
  <%= @mercadorium.precofrete %>
</p>

<p>
  <strong>Imposto:</strong>
  <%= @mercadorium.imposto %>
</p>

<p>
  <strong>Precodevenda:</strong>
  <%= @mercadorium.precodevenda %>
</p>

<p>
  <strong>Precodaconco:</strong>
  <%= @mercadorium.precodaconco %>
</p>

<p>
  <strong>Vendamensal:</strong>
  <%= @mercadorium.vendamensal %>
</p>

<p>
  <strong>Outroscustosdevenda:</strong>
  <%= @mercadorium.outroscustosdevenda %>
</p>

<%= link_to 'Edit', edit_mercadorium_path(@mercadorium) %> |
<%= link_to 'Back', mercadoria_path %>



